:root{
    /* -COLORS- */
    --primaryColor: #448a16;
    --secondaryColor: #b4fc7c;
    --tercearyColor: #fdffd0;
    --backgourndColor: #fff;
    --textColor: #2d4225;
    --secondTextColor: #737373;
    --lightGray: #f8f8f8;
    --lightTextColor: #fff;
  
    /* -FONTS-*/
    --ff-sans: "Montserrat", system-ui, sans-serif;
    --fw-base: 400;
    --fw-md: 500;
    --fw-bold: 800;
  
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.75rem;
    --fs-2xl: 2.25rem;
  
    /* -PADDING- */
  
    --py-sm: 0.875rem;
    --py-base: 1rem;
    --py-lg: 1.5rem;
    --py-xl: 3rem;
    --px-lg: 1.5rem;
}  

#hero {
    background: var(--light-gray);
    border-top: 0.125rem solid #e4e4e4;
    height: 80vh;
    display: flex;
}

#hero > img {
    position: absolute;
    right: 0;
    height: 60%;
    padding-left: 30%;
}

#hero p {
    color: var(--second-text-color);
  
}

#hero .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    text-align: center;
    gap: 1.75rem;
}

#hero .content > div {
    width: fit-content;
    align-self: center;
    margin-bottom: 20%;
}

@media (width >= 1280px) {
    #hero {
        background: var(--bg-color);
        border-top: none;
        > span {
            position: absolute;
            top: 0;
        }
        
        > img {
            top: 0;
            height: 82%;
            padding-left: 55%;
        }
    
        .content p {
            width: 80%;
            align-self: center;
        }

        .content {
            gap: 2.5rem;
        }

        .content > div :first-child {
            width: 10.625rem;
        }

        .content p {
            width: 80%;
            align-self: center;
        }

        .content p:first-of-type {
            color: var(--primary-color);
            font-weight: var(--fw-bold);
        }

    }
}